 @import url("index.css");
       table,tr,th,td{
      	 text-align: center;
      
      }
      th{
         text-transform: uppercase;
         color: #117864;
         font-size: 15px;
         margin-left: 5rem;
      }
      table#result{
       
        margin-top: 8rem;
        margin-bottom: 15rem;
      }
      #prodLog{
        padding-left: 12rem;
      }
      @media (max-width: 320px){
        #prodLog{
          padding-left: 4rem;
        }
      }
       @media (max-width: 375px) and (min-width: 350px){
        #prodLog{
          padding-left: 5rem;
        }
      }
       @media (max-width: 425px) and (min-width: 400px){
        #prodLog{
          padding-left: 5rem;
        }
      }
      @media (max-width: 768px) and (min-width: 500px){
        #prodLog{
          padding-left: 9rem;
        }
      }
       @media (max-width: 1024px) and (min-width: 900px){
        #prodLog{
          padding-left: 9rem;
        }
      }